@font-face {
  font-family:dmsans;
  src: url('../public/fonts/dmsans.ttf');
}
*{
  font-family: dmsans;
  margin: 0;
  padding: 0;
}

/* NABBAR */
header
{
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 10px;
}
header .logo
{
  font-size: 25px;
}
.header-menu ul
{
  display: flex;
  list-style: none;
}
.header-menu li
{
  margin: 10px;
  font-size: 14px;
}
.header-icons ul
{
  display: flex;
  list-style: none;
}
.header-icons li
{
  margin: 10px;
  font-size: 14px;
}
.header-price
{
  font-weight: 800;
}
.header-cart
{
  stroke: black;
  stroke-width: .8px;
}
.menu-icon,.close-menu
{
  margin-right: 10px;
  display: none;
}
/*===============HERO SECTION ============  */
main{
  width: 100%;
  height: 80vh;
}
.hero-section
{
  background-color: #FAEDEB;
  height: 100%;
  width: 97%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.hero-section .info 
{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
}
.hero-section .info p
{
  color: grey;
}
.hero-section .info h2
{
  font-size: 7vmin;
  margin: 7px 0;
}
.hero-section .info button
{
  background-color: black;
  color: white;
  width: fit-content;
  padding: 12px 24px;
  border:none;
}
.hero-section .design
{
  height: 100%;
  width: 40%;
  position: relative;
}
.hero-blob
{
  width: 600px;
  height: 60vh;
}
.hero-img{
  position: absolute;
  top: 20px;
  left: 50px;
  width:600px;
  height: 100%;

}
/* Popular section */
.tag--show
{
  color: grey;
  text-align: center;
}
.headding
{
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}
.popular
{
  padding: 30px;
}
.products-list
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}
.product
{
  width: 250px;
  margin: 10px;
}
.product img 
{
  width: 100%;
  height: 300px;
}
.product .category
{
  color: grey;
  font-size: 13px;
}
.product h4
{
  font-weight: 1500;
  font-size: 20px;
}
.product .price
{
  font-size: 14px;
  color: grey;
  font-weight: 900;
}
.variations
{
  display: flex;
  flex-wrap: wrap;
}
.variations div
{
  width: 20px;
  height: 20px;
  border: 1.5px solid grey;
  margin: 5px;
}
.variations .black
{
  background-color: black;
}
.variations .red
{
  background-color: tomato;
}
/* Mobile */
@media only screen and (max-width:768px)
{
/* NAVBAR */
  .menu-icon
  {
    display: block;
    margin-left: -20px;
  }
  .header-menu
  {
    position: fixed;
    top: 0px;
    background-color: #00000049;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    display: none;
    padding: 20px 5px;
    z-index: 100;
    
  }
  .toggle-menu
  {
    display: block;
  }
  .header-menu ul
  {
    flex-direction: column;
    background-color: white;
    width: 80%;
    height: 100%;
    margin-top: -10px;
    padding-top: 20px;
  }
  .header-menu li
  {
    background-color: #FCEDEB;
    margin: 0;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
  }
  .header-menu li:hover
  {
    background-color: white;
    transition: .5s;
  }
  .header-login, .header-search
  {
    display: none;
  }
  .close-menu
  {
    display: block;
    background-color: transparent !important;
    text-align: right;
    font-size: 35px !important;
  }
  .hero-section
  {
    flex-direction: column;
    align-items: center;

  }
  .hero-section .info 
  {
    width: 80%;
    text-align: center;
    margin-top: 100px;
    align-items: center;
  

  }
  .hero-section .design
  {
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .hero-blob
  {
    width: 400px;

  }
  .hero-img
  {
    width: 200px !important;
    height: auto;
    top: 200px;
    bottom: 10px;
  }

}